<div id="welcome">
	<%= image_tag "welcome_pano.jpg", :id => 'bg' %>
	<div id="logo">SICKPANOS</div>
		
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :class => "login_input_field" %></div>

	  <div><%= f.label :password %><br />
	  <%= f.password_field :password, :class => "login_input_field" %></div>

	  <div><%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation, :class => "login_input_field" %></div>

	  <div><%= f.submit "Sign up", :class => "login_button" %></div>
	<% end %>

	<%= render :partial => "devise/shared/links" %>

</div>
